html, body {
    overflow-x: hidden;
    margin: 0;
}

body {
    background-color: white;
    margin: 0;
}

h1, h2, h3, p, div, span, a {
    font-family: "Inter", serif;
    font-weight: 300;
    font-style: normal;
    color: #212427;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

h3 {
    font-size: 26px;
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
        color: #212427;
    }
}

.page-content {
    min-height: 85vh;

    @media (max-width: 800px) {
        padding: 20px 12px 12px;
    }

    .section-one {
        padding: 40px 20px 20px 20px;
    }

    .section-two {
        background-color: #f3f5f6;
    }
}

.image-with-text {
    display: flex;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    #banff-image {
        width: 40%;
        border-radius: 6px;

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    .image-with-text-text {
        margin: 20px 40px;

        @media (max-width: 800px) {
            margin: 20px 0;
        }

        .text-header {
            font-weight: 400;
            padding-left: 12px;
            margin-top: 0;
        }

        .text {
            padding: 12px;
            background-color: #f3f5f6;
            border-radius: 12px;
            font-size: 22px;

            @media (max-width: 800px) {
                font-size: 18px;
            }
        }
    }
}

.vision-container {
    padding: 20px 40vw 20px 20px;

    #vision-header {
        margin: 0 0 20px 20px;
        font-weight: 400;
    }

    ul {
        li {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
}
