<!-- All Articles -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-8 lg:gap-y-16 mt-10 border-gray-200">
  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#A67C52] px-3 py-1.5 font-medium text-gray-100">
        Grief
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://www.griefrecoverymethod.com/grms/reem-azhari" target="_blank">
          Adam's Story from Grief Recovery Method
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Dr. Reem Azhari shares her story and her experience with the Grief Recovery Method</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="text-sm font-semibold text-gray-900">
          <a href="#">
            Reem Azhari, Ph.D.
          </a>
        </p>
        <p class="text-gray-600">The Grief Recovery Method</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#A67C52] px-3 py-1.5 font-medium text-gray-100">
        Grief
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal"">
        <a href="https://www.griefrecoverymethod.com/blog/2019/04/dr-rachael-d-nolan-speaks-about-her-research-concerning-grief-recovery-method-evidence" target="_blank">
          Research Concerning The Grief Recovery Method
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Dr. Rachael D. Nolan Speaks About Her Research Concerning The Grief Recovery Method As An Evidence-Based Program For Taking Action</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            Dr. Rachel D. Nolan
          </a>
        </p>
        <p class="text-gray-600">The Grief Recovery Method</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#A67C52] px-3 py-1.5 font-medium text-gray-100">
        Grief
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://grief.com/grief-in-the-workplace/" target="_blank">
          Grief in the Workplace
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">How to Support Employees through Grief and Loss</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            Grief.com
          </a>
        </p>
        <p class="text-gray-600">-</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#A67C52] px-3 py-1.5 font-medium text-gray-100">
        Grief
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://www.frontiersin.org/journals/human-neuroscience/articles/10.3389/fnhum.2022.925242/full" target="_blank">
          Long-Term Effects of the Death of a Child on Parents’ Adjustment in Midlife
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Why do mothers never stop grieving for their deceased children? Enduring alterations of brain connectivity and function</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            Frontiers in Human Neuroscience
          </a>
        </p>
        <p class="text-gray-600">-</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#5A7993] px-3 py-1.5 font-medium text-gray-100">
        Self Care
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://www.ptsd.va.gov/understand/related/related_problems_grief.asp" target="_blank">
          Taking Care of Yourself After a Loss
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Explore practical self-care strategies to navigate grief, from connecting with others and adjusting self-talk to finding meaning in loss</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            USDVA
          </a>
        </p>
        <p class="text-gray-600">National Center for PTSD</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#5A7993] px-3 py-1.5 font-medium text-gray-100">
        Self Care
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://thelossfoundation.org/10-ways-to-practice-self-care-in-grief/" target="_blank">
          10 Ways to Practice Self Care in Grief
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Practical ways to take care of yourself following a loss</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            Shelley Heath
          </a>
        </p>
        <p class="text-gray-600">The Loss Foundation</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#5A7993] px-3 py-1.5 font-medium text-gray-100">
        Self Care
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://hbr.org/2024/09/a-self-care-checklist-for-leaders?utm_medium=paidsearch&utm_source=google&utm_campaign=domcontent_leadership&utm_term=Non-Brand&tpcc=domcontent_leadership&gad_source=1&gbraid=0AAAAAD9b3uTobVoEbqPxexLX3Bx-jswqw&gclid=CjwKCAiAg8S7BhATEiwAO2-R6l2a0oVgseOey1HMslizsu6iwYs3e3kgt96adR9SDEe6XkRFqBHFFRoCb3wQAvD_BwE" target="_blank">
          A Self-Care Checklist for Leaders
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Exploring how leaders can integrate self-care into their routines to enhance resilience, well-being, and effective leadership</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            Palena Neale
          </a>
        </p>
        <p class="text-gray-600">Harvard Business Review</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#6B8E68] px-3 py-1.5 font-medium text-gray-100">
        Leadership
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://hbr.org/2022/11/how-great-leaders-communicate" target="_blank">
          How Great Leaders Communicate
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem] leading-snug">Communication strategies that transformational leaders use to motivate and inspire their teams</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            Carmine Gallo
          </a>
        </p>
        <p class="text-gray-600">Harvard Business Review</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#6B8E68] px-3 py-1.5 font-medium text-gray-100">
        Leadership
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://lpsonline.sas.upenn.edu/features/why-communication-essential-effective-leadership" target="_blank">
          Why communication is essential to effective leadership
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Key communication skills that enhance leadership effectiveness and team success</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            University of Pennsylvania
          </a>
        </p>
        <p class="text-gray-600">-</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col items-start flex-grow pb-4 mb-4 border-b border-gray-300">
    <div class="flex items-center gap-x-4 text-xs">
      <div class="relative z-10 rounded-full bg-[#6B8E68] px-3 py-1.5 font-medium text-gray-100">
        Leadership
      </div>
    </div>
    <div class="group relative flex-grow flex flex-col justify-center pb-6">
      <h3 class="mt-3 text-lg sm:text-xl font-semibold text-gray-900 group-hover:text-gray-600 min-h-[3rem] leading-tight sm:leading-normal">
        <a href="https://www.hrcloud.com/blog/7-tips-on-how-to-manage-and-resolve-conflict-in-the-workplace?hs_amp=true" target="_blank">
          How to Manage and Resolve Conflict in the Workplace
        </a>
      </h3>
      <p class="mt-5 text-base text-gray-600 min-h-[4rem]">Step-by-step process to help you manage and resolve conflict in the workplace</p>
    </div>
    <div class="relative mt-auto flex items-center gap-x-4">
      <div class="text-sm">
        <p class="font-semibold text-gray-900">
          <a href="#">
            HR Cloud
          </a>
        </p>
        <p class="text-gray-600">-</p>
      </div>
    </div>
  </article>
</div>