<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="Thurmont Education - Located in the Chicagoland area, we thrive at empowering communities through leadership & employee development, grief recovery work, and community education & wellness">

<meta property="og:title" content="Thurmont Education | Empowering Communities Through Learning">
<meta property="og:description" content="Explore innovative learning and leadership programs with Thurmont Education.">
<meta property="og:image" content="https://thurmonteducation.com/assets/favicon/apple-touch-icon.png">
<meta property="og:url" content="https://thurmonteducation.com">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Thurmont Education - Empowering Communities Through Learning and development">
<meta name="twitter:description" content="Explore innovative learning and leadership programs with Thurmont Education.">
<meta name="twitter:image" content="https://thurmonteducation.com/assets/favicon/apple-touch-icon.png">