html, body {
    margin: 0;
    padding: 0;
}

.development-page-wrapper {
    text-align: center;

    h1#development-page-title {
        @media (max-width: 800px) {
            font-size: 32px;
            white-space: nowrap;
        }
    }

    .development-page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 150px);
    }

    #banff-image {
        max-height: 60vh;
        max-width: 85vw;
        border-radius: 6px;
    }

    hr {
        width: 250px;
    }

    h4#development-text {
        margin: 18px;
    }
}
