---
layout: layout
title: Resources
description: Our partners at Thurmont Education and articles on grief, self care, and leadership.
permalink: /resources
---

<!-- Articles -->
<div class="mb-8 pb-8 py-8">
  <div class="mx-auto px-6 max-w-[1600px] 2xl:px-12 lg:px-8">
    <div class="mx-auto max-w-lg text-center px-6 py-3 bg-gray-600 rounded-lg shadow-md">
      <h3 class="text-2xl sm:text-3xl font-bold text-gray-200">
        Articles
      </h3>
      <div class="mt-2 flex justify-center space-x-2">
        <span class="block w-4 h-1 bg-[#A67C52] rounded"></span>
        <span class="block w-4 h-1 bg-[#5A7993] rounded"></span>
        <span class="block w-4 h-1 bg-[#6B8E68] rounded"></span>
      </div>
    </div>
    {% include articles.html %}
  </div>
</div>

<!-- Partners -->
<div class="bg-gray-800 py-8 sm:py-14 lg:py-22">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h3 id="partners" class="pb-4 lg:pb-0 text-center text-2xl text-gray-300 font-semibold">
      Our Partners In Health and Wellness
    </h3>

    <div class="mx-auto mt-6 sm:mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 place-items-center">
      {% assign partners = "Serenity Med Spa             |https://www.serenitymedispa.net|../image/serenity.jpg,
      Arab American Family Services|https://www.aafsil.org|../image/aafs.jpg,
      Elemental Care               |https://www.elementalcare.clinic|../image/elemental_care.png,
      Premier Physical Therapy     |https://www.premierphysicaltherapy.com|../image/premier-physical-therapy.png" | split: "," %}

      {% for partner in partners %}
      {% assign details = partner | split: "|" %}
      <div class="w-full max-w-xs md:max-w-sm h-60 bg-gray-200 border border-gray-300 rounded-xl flex flex-col shadow-lg shadow-indigo-500/50">
        <!-- Logo Section -->
        <div class="h-28 flex items-center justify-center border-b border-gray-300">
          <img class="max-h-[80%] max-w-[80%] object-contain" src="{{ details[2] }}" alt="{{ details[0] }}">
        </div>

        <!-- Content Section -->
        <div class="flex-1 p-5 flex flex-col text-center overflow-hidden">
          <h5 class="mb-3 text-base font-semibold text-gray-900 truncate">{{ details[0] }}</h5>
          <div class="mt-auto">
            <a href="{{ details[1] }}" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-indigo-700 rounded-lg hover:bg-indigo-600">
              Visit
              <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
