<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <link rel="stylesheet" href="../assets/css/common.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <link href='/assets/css/main.css' rel='stylesheet'>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <title>{{ page.title }}</title>
</head>
<body class="h-full flex flex-col">

{% include header.html %}

<!-- Page Content -->
<main class="flex-1 w-full">
  <div class="min-h-full">
    <header class="bg-white shadow-sm">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        {% if page.permalink == "/" %}
        <div class="flex items-center space-x-4">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">
            Thurmont Education
          </h1>
          <p class="text-lg italic text-gray-600">
            "A Gateway to Transformational Learning"
          </p>
        </div>
        {% else %}
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
          {{ page.title }}
        </h1>
        {% endif %}
      </div>
    </header>


    <main>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        {{ content }}
      </div>
    </main>
  </div>
</main>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>
</html>